#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// API credentials
#define API_KEY "your_iss_bff_esp_api_key"

#endif
